body {
  font-family: sans-serif;
}
body.active {
  background-color: rgba(0, 0, 0, 0.3);
}

p {
  position: absolute;
  width: 350px;
  top: 20%;
  left: 50%;
  margin-left: -175px;
  text-align: center;
}

button {
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px;
  position: absolute;
}

button:hover {
  background-color: purple;
}

button:focus {
  outline: none;
}

.modal {
  display: none;
}

.modal.active {
  position: fixed;
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 500px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -50px;
  align-items: center;
  justify-content: center;
}
