body {
  font-family: sans-serif;
}

.descriptor {
  position: absolute;
  top: 10%;
  padding-left: 30%;
}

.hamburger {
  background-color: cornflowerblue;
  border: none;
  border-radius: 3px;
  position: fixed;
  top: 20px;
  right: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.hamburger img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.hamburger.active {
  transform: translateX(-480px);
}

.hamburger.active img {
  transform: translateX(-5px) rotate(90deg);
}

.navbar {
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
  right: 0;
  width: 475px;
  height: 100vh;
  padding: 14px;
  transform: translateX(485px);
  transition: transform 0.3s ease-in-out;
}

.navbar.active {
  transform: translateX(0px);
}

.links {
  list-style-type: none;
  padding: 0;
}

.links li {
  padding: 12px;
}

.links li:hover {
  background-color: darkturquoise;
}

.links li:active {
  background-color: aqua;
}

.links a {
  color: white;
  text-decoration: none;
}
