body {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.carousel {
  width: 200px;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
}

button {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  border: none;
  border-radius: 50px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: lightgray;
}

button:active {
  padding: 8px 13px 6px;
}

#prev {
  margin-left: -75px;
}

#next {
  margin-left: 25px;
}
