body {
  background-color: gray;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

.nav-header {
  background-color: white;
  padding: 5px 10px 5px 10px;
}

.logo {
  width: 30px;
  height: 30px;
}

.hamburger {
  border: none;
  background: none;
  position: absolute;
  right: 5px;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: auto;
}
